body { background-image: url(https://codehs.com/uploads/a808e051af04b4d3ebe06295155da37e);
    background-repeat: no-repeat;
    background-position: center;
    background-image: fixed;
    background-size: cover; }

h1 {color: white}
h2 { font-style: bold;
    color: yellow;
    font-family: 'Be Vietnam Pro', sans-serif;}
